parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: "#^Parameter \\#1 $key of function array_key_exists expects int|string, mixed given\\.$#"
            count: 1
            path: src/DataValidator.php
        -
            message: "#^Used constant Pyncer\\\\DATE_TIME_FORMAT not found\\.$#"
            count: 1
            path: src/Rule/DateTimeRule.php
        -
            message: "#^Constant Pyncer\\\\DATE_TIME_FORMAT not found\\.$#"
            count: 2
            path: src/Rule/DateTimeRule.php
        -
            message: "#^Used constant Pyncer\\\\DATE_FORMAT not found\\.$#"
            count: 1
            path: src/Rule/DateRule.php
        -
            message: "#^Constant Pyncer\\\\DATE_FORMAT not found\\.$#"
            count: 2
            path: src/Rule/DateRule.php
